&i2c1{
status = "okay";
clock-frequency = <100000>;
	imu: mpu6050@68{
		status = "okay";
		compatible = "invensense,mpu6050";
		reg = <0x68>;
	};
};



&timers2{
status = "okay";

	pwm2: pwm{
		status = "okay";

		pinctrl-0 = <
		&tim2_ch1_pa0
		&tim2_ch2_pa1
		&tim2_ch3_pa2
		&tim2_ch4_pa3
		>;

		pinctrl-names = "default";
	};
};
